/* 
  Style your elements by creating CSS classes here.
  Below, you can see an example of a class called "menu" that changes the color of the text to blue. Modify according to your needs.
*/
body {
  background-color: #e0e1dd; 
}

button {
  background-color: #778da9; 
  color: white;
  margin: 25px;

}

h2 {
  color: #415a77;
  text-align: center;
}

ul {
  list-style-type: none; 
  padding: 0; 
}

#austin {
  margin-left: 50px;
  margin-right: 25px;
}

#houston {
  margin-right: 25px; 
}

#city {
  margin-left: 50px;
  margin-right: 25px;
}

